@model IEnumerable<SacramentMeetingPlanner.Models.SacramentMeeting>

@{
    ViewData["Title"] = "About";
}

<main id="main">
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>About this Project</h2>
            <p>Team Member Contributions</p>
        </div>
    </div><!-- End Breadcrumbs -->
    <section id="about" class="about d-flex justify-content-center align-items-center">
        <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <ul>
                    <li>
                        Clarisse
                        <ul>
                            <li>Added bootstap theme to standardize look and feel</li>
                            <li>Made seed data file to have data to visulaize and manipulate</li>
                            <li>Added Speakers to the index table</li>
                            <li>Changed index layout to group song, music, etc. for easier viewing</li>
                        </ul>
                    </li>
                    <li>
                        Jose
                        <ul>
                            <li>Set up initial project with ASP.NET MVC structure</li>
                            <li>Created and scaffolded database models for SacramentMeeting and Speakers</li>
                        </ul>
                    </li>
                    <li>
                        Lai
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                        Jeremiah
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </section>
</main>
