@model IEnumerable<SacramentMeetingPlanner.Models.SacramentMeeting>

@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Plan it,<br>Print it</h1>
        <h2>Everything you need to stay organized and produce detailed Sarament meeting planners.</h2>
        <a asp-area="" asp-controller="SacramentMeetings" asp-action="Create" class="btn-get-started">Create New Planner</a>
    </div>
</section><!-- End Hero -->

<main id="main">
</main>
